<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinity.dynamicforms">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ViewPagerForms">
        </activity>
        <activity android:name=".Activity.SubCategoryActivity" />
        <activity android:name=".DetailsActivity.URLActivity"/>
        <activity android:name=".DetailsActivity.ImageActivity"/>
        <activity android:name=".DetailsActivity.VideoLandscapeActivity"/>
    </application>

</manifest>